.html-narrow .body-narrow .main-column {
  width:720px;
}

.html-narrow body,
.html-narrow  {
  font-family:'OpenSans', sans-serif;
  color:#2f2c2b;
  background:#fff;
  min-width:980px;
}

.html-narrow .center-wrapper {
  width:980px;
  min-width:980px;
  margin:0 auto;
  padding:0 10px;
  position:relative;
}

.html-narrow .header {
  min-width:980px;
  /* height:236px; */
}

.html-narrow .header-top,
.html-narrow .header-bottom {
  min-width:980px;
}

.html-narrow .body {
  /* height:500px; */
  min-width:980px;
}

.html-narrow .top-filter {
  left:197px;
}

.html-narrow .top-filter a {
  font-size:12px !important;
  padding-left:47px !important;
  height:39px !important;
  padding-top:19px !important;
}

.html-narrow .top-filter .tf-prof a {
  background-image:url(../images/filter-1-bg-n.png);
  width:142px;
}

.html-narrow .top-filter .tf-moneymakers a {
  background-image:url(../images/filter-2-bg-n.png);
  width:127px;
}

.html-narrow .top-filter .tf-clients a {
  background-image:url(../images/filter-3-bg-n.png);
  width:115px;
}

.html-narrow .top-filter-shadow {
  width:491px;
}

.html-narrow .main-column {
  width:698px;
}

.html-narrow .sidenav {
  display:none !important;
}

.html-narrow .header-banner img {
  width:980px;
  height:77px;
}

.html-narrow .header-fixed .logo {
  left:17px;
}

.html-narrow .main-menu {
  margin:0 -10px;
}

.html-narrow .header-fixed .main-menu {
  margin:0 0 0 78px;
  width:800px;
}

.html-narrow .main-menu a {
  padding:0 10px;
}

.html-narrow .header-fixed .main-menu a {
  padding:0 7px;
}

.html-narrow .header-fixed .user-link {
  right:45px;
}

.html-narrow .top-filter-wrapper {
  width:980px;
}

.html-narrow .search-block .form-text {
  width:745px;
}

.html-narrow .mainpage-main .pic {
  width:343px;
  float:left;
  margin:0 31px 0 0;
}

.html-narrow .mainpage-main .pic img {
  margin-left:-33px;
}

.html-narrow .mainpage-main .descr {
  width:325px;
  position:relative;
}

.html-narrow .mainpage-main .post-lead {
  height:196px;
  overflow:hidden;
}

/* .html-narrow .mainpage-main .post-data:before {
  content:"...";
  background:#ececec;
  display:block;
  position:absolute;
  top:175px;
  right:0;
  padding:0 10px;
  font-size:18px;
} */

.html-narrow .newslist .with-pic .author {
  padding:0;
}

.html-narrow .newslist .with-pic .comments-views {
  position:relative;
  padding-left:0;
  right:auto;
}

.html-narrow .newslist .with-pic .author .userpic {
  display:none;
}

.html-narrow .newslist .with-pic .post-lead {
  margin-bottom:10px;
}

.html-narrow .newslist .with-pic .post-lead p {
  display:none;
}

.html-narrow .newslist-item {
  width:340px;
  margin-right:29px;
}

.html-narrow .newslist-item p {
  height:48px;
  overflow:hidden;
}

.html-narrow .newslist-item .post-lead {
  height:auto;
  margin:0 0 12px 0;
}

.html-narrow .newslist-item-big .post-lead {
  height:auto;
  margin:0 0 14px 0;
}

.html-narrow .newslist .with-pic .comments-views {
  float:left;
}

.html-narrow .sn-subscribe .txt {
  padding:4px 0 0 65px;
}

.html-narrow .news-col {
  width:369px;
}

.html-narrow .newslist-item-big .pic {
  width:340px;
  overflow:hidden;
}

.html-narrow .newslist-item-big .pic img {
  left:-33px;
}

.html-narrow .mainpage-experts .expertslist-item {
  width:203px;
}

.html-narrow .mainpage-experts .expertslist-item .pic {
  width:203px;
}

.html-narrow .mainpage-experts .expertslist-item .pic img {
  left:-39px;
}

.html-narrow .footer-col {
  max-width:270px;
  margin-right:30px;
}

.html-narrow .fav-trigger {
  padding-left:20px;
}

.html-narrow .fav-trigger span {
  display:none;
}

.html-narrow .post-controls .comments-views,
.html-narrow .post-controls .font-control {
  padding-left:20px !important;
}

.html-narrow .bestlist-item {
  width:328px;
}

.html-narrow .post-controls .author {
  margin-top:-6px;
}

.html-narrow .post-controls .author .userpic {
  margin-top:1px;
}

.html-narrow .post-comments .comment-form {
  margin-right:40px;
}

.html-narrow .events-calendar .descr {
  width:553px;
}

.html-narrow .events-calendar .end-date-wide {
  display:none;
}

.html-narrow .events-calendar .end-date-narrow {
  display:block;
  margin-right:0;
}

.html-narrow .event-header .descr {
  width: 589px;
}

.html-narrow .event-status {
  padding:21px 25px 11px 25px;
}

.html-narrow .event-status-closed {
  padding-bottom:23px !important;
}

.html-narrow .event-status .event-more {
  width:145px;
  margin-top:5px;
}

.html-narrow .event-status .closed {
  width:136px;
  margin-top:5px;
  padding-top:0;
}

.html-narrow .event-status .event-more .ico,
.html-narrow .event-status .closed .ico {
  margin-top:4px;
}

.html-narrow .photo-gallery .fancybox {
  margin:11px;
}

.html-narrow .event-status .price {
  margin: -4px 20px 0 0;
}

.html-narrow .event-status .members {
  margin: 12px 0 0 0;
  padding: 0 0 0 29px;
}

.html-narrow .event-status .button-5 {
  margin-left:20px;
}

.html-narrow .fav-hint {
  left:-49px;
}

.html-narrow .post-controls .s-button {
  margin:0 13px 0 0;
}

.html-narrow .event-lineup .descr {
  width: 581px;
}

.html-narrow  .mainpage-calendar .calendar-card {
  width:218px;
  margin:10px 0 0 0;
}

.html-narrow .mainpage-calendar {
  width: 718px;
  height: 278px;
  margin: 0 -15px 40px 0;
  position: relative;
}

.html-narrow .mainpage-calendar .calendar-slider {
  width:735px;
}

.html-narrow .mainpage-calendar .sn-share {
  width:216px;
}

.html-narrow .mainpage-calendar .prev {
  right:190px;
}

.html-narrow .mainpage-calendar .jcarousel-item {
	float: left;
	width: 218px;
	height: 278px;
	margin: 0 22px 0 0;
}

.html-narrow .mainpage-calendar .jcarousel-clip {
	width: 718px;
	overflow: hidden;
	height: 278px;
}

.html-narrow .mainpage-catalogue {
  width:720px;
}

.html-narrow .mainpage-catalogue .act-next {
  left: 360px;
}

.html-narrow .mainpage-catalogue .act {
  left: 183px;
}

.html-narrow .mainpage-catalogue .prev {
  left: 71px;
}

.html-narrow .mainpage-catalogue .next {
  right: 71px;
}

.html-narrow .mainpage-ratings {
  width:720px;
}

.html-narrow .mainpage-ratings .ratings-card {
  width:680px;
}

.html-narrow .mainpage-ratings .rating-item {
  width:162px;
}

.html-narrow .mainpage-ratings .rating-place {
  width:162px;
}

.html-narrow .mainpage-ratings .rating-place-1 {
  background-position: 0 -352px;
}

.html-narrow .mainpage-ratings .rating-place-2 {
  background-position: 0 -386px;
}

.html-narrow .mainpage-ratings .rating-place-3 {
  background-position: 0 -420px;
}

.html-narrow .mainpage-ratings .logo {
  height:73px;
}

.html-narrow .mainpage-ratings .logo img {
  max-width:162px;
}

.html-narrow .mainpage-events-slider {
  width: 334px;
  margin: 0 30px 0 0;
}

.html-narrow .mainpage-sliders {
  margin: 0 -30px 0 0;
}

.html-narrow .mainpage-events-slider .event-content {
  width: 334px;
}

.html-narrow .mainpage-events-slider .event-content .event-wrapper {
  width: 334px;
}

.html-narrow .mainpage-events-slider .event-content .pic-mask {
  width: 334px;
}

.html-narrow .mainpage-events-slider .event-item {
  width: 159px;
  height:109px;
}

.html-narrow .mainpage-events-slider .event-item img {
  width: 159px;
  height: 109px;
}

.html-narrow .mainpage-events-slider .events-list {
  height:109px;
  overflow:hidden;
}

.html-narrow .mainpage-library .bookslist {
  margin:0 -22px 0 0;
}

.html-narrow .bloglist {
  margin-right: -17px;
}

.html-narrow .bloglist-item {
  width: 220px;
  margin: 0 17px 27px 0;
}

.html-narrow .mainpage-library .bookslist-item {
  margin-right:22px;
}

.html-narrow .bloglist-item .logo {
  width: 220px;
  height:88px;
}

.html-narrow .bloglist-item .logo img {
  width:220px;
  height:88px;
}

.html-narrow .blog-motivator .txt {
  width:408px;
  padding:0 0 0 64px;
}

.html-narrow .sidebar .blog-motivator .txt {
  padding:0 0 15px 0;
  width:auto;
}

.html-narrow h2.section-title {
  width:290px;
}

.html-narrow .book-descr .descr,
.html-narrow .library .bookslist-item-big .descr {
  width: 328px;
}

.html-narrow .library .bookslist-item-big .book-status {
  margin-bottom:18px !important;
}

.html-narrow .library .bookslist-item-big .post-controls {
  padding-top:32px;
  clear:left;
  position:relative;
}

.html-narrow .library .bookslist-item-big .post-controls .comments-views {
  padding:0 !important;
  position:absolute;
  left:0;
  top:0;
}

.html-narrow .library .bookslist-item {
  margin: 0 20px 15px 20px;
}

.html-narrow .library .bookslist-item-big {
  margin: 0 60px 35px 0;
}

.html-narrow .book-descr .book-status .bought-count {
  margin-left:20px;
}

.html-narrow .book-descr .book-status .button-4 {
  margin-right:0;
}

.html-narrow .narrow-hidden {
  display:none;
}

.html-narrow .experts .expertslist-item {
  margin-right:15px !important;
  width:222px;
}

.html-narrow .experts .expertslist-item .pic {
  width:222px;
}

.html-narrow .experts .expertslist-item-big {
  margin-right:25px !important;
  width:auto;
}

.html-narrow .experts .expertslist-item-big .pic {
  width:343px;
}

.html-narrow .experts .expertslist-item-big .pic img {
  margin-left:-33px;
}

.html-narrow .experts .expertslist-item-big .descr {
  width:315px;
}

.html-narrow .post-video iframe {
  width:675px !important;
}

.html-narrow .page-title {
  width:698px;
}

.html-narrow .page-ratings .page-text {
  width:698px;
}

.html-narrow .page-ratings .tabs .tab {
  font-size:17px;
  line-height:17px;
  width:290px;
}

.html-narrow .page-ratings .tabs .tab .cont {
  padding-bottom:13px;
}

.html-narrow .page-ratings .tabs .tab .cont span {
  position:relative;
  top:-5px;
}

.html-narrow .rating-table {
  width:698px;
}

.html-narrow .rating-table .name {
  width:250px;
}

.html-narrow .rating-table {
  background-image:url(../images/rating-table-header-n.png) !important;
}

.html-narrow .sponsorslist-item {
  margin:0 28px 28px 0;
}

.html-narrow .rating-experts .item {
  margin-right:46px !important;
}

.html-narrow .common-form .form-text {
  width: 305px;
}

.html-narrow .common-form .form-textarea {
  width:675px;
}

.html-narrow .registration-form .form-checkboxes {
  white-space:normal;
  padding-left:0;
  position:relative;
  padding-left:32px;
  padding-top: 15px;
  width: 90px;
  margin-right: 0 !important;
}

.html-narrow .registration-form .form-checkboxes .icheckbox {
  position:absolute !important;
  left:0;
  top:22px;
}

.html-narrow .registration-company {
  width:640px;
}

.html-narrow .registration-form .form-footer .form-item {
  margin-right:20px;
}

.html-narrow .tender-form .form-submit {
  padding:0 20px;
}

.html-narrow .tender-form .select-link {
  width:140px;
}

.html-narrow #compSelectTrigger {
  position:relative;
  top:-7px;
}

.html-narrow .tender-form .select-hint {
  width:238px;
  margin-top:0;
}

.html-narrow .tools-services .item {
  width:170px;
  margin-right:12px;
}

.html-narrow .tools-services .form-text {
  width: 144px;
}

.html-narrow .tools-services .button {
  width:170px;
  font-size:17px;
}

.html-narrow .tools-filter {
  padding-top:16px;
}

.html-narrow .tools-filter .tf-sort {
  padding-top:0;
}

.html-narrow .tools-filter .tf-sort .title {
  float:none;
  margin:0 0 18px 0;
}

.html-narrow .tools-filter .tf-filter {
  padding-top:25px;
}

.html-narrow .toolsreviews-item {
  margin-right:32px;
  width:338px;
  height:214px;
}

.html-narrow .toolsreviews-item .descr {
  width:171px;
  height:auto;
}

.html-narrow .toolsreviews-item .comments-views {
  position:relative;
  padding:15px 0 0 0 !important;
  margin:0;
  bottom:auto;
}

.html-narrow .toolsreviews-item .lead {
  max-height:159px;
  height:auto;
}

.html-narrow .toolsreviews .tool-review .descr {
  width:365px;
}

.html-narrow .tool-descr .descr {
  width:416px;
}

.html-narrow .tool-descr .ratingname {
  display:none;
}

.html-narrow .hint-rating {
  background:url(../images/hint-pt-2.png) 40px bottom no-repeat;
  margin-left:56px;
}

.html-narrow .hint-rating .hint-content {
  background-color:#e3ecff;
  color:#555e70;
  font-size:11px;
}

.html-narrow .slides {
  margin-left:5px;
}

.html-narrow .n-prev-link {
  width:280px;
}

.html-narrow .n-next-link {
  width:280px;
}

.html-narrow .site-title {
  padding:38px 22px 0 0;
	margin-left:-20px;
}

.html-narrow .user-registration-form .form-checkboxes .icheckbox {
	position:relative !important;
	left:auto !important;
	top:auto !important;
}

.html-narrow .profile-card .rating-count .ttl {
  display:none;
}

.html-narrow .profile-tabs .tabs .cont {
  padding-right:10px;
	padding-left:10px;
	font-size:13px;
}

.html-narrow .profile-tabs .tabs .act .cont {
  padding-right:14px;
	padding-left:14px;
}

.html-narrow .profile-achievements .achievements-item {
	float: left;
	margin: 0 16px 0 0;
}

.html-narrow .profile-achievements .achievements-item:last-child {
	display:none;
}

.user-progress-titles {
	height: 34px;
	background: url(../images/user-progress-titles-narrow.png) 1px 0 no-repeat;
	margin: 0 0 9px 0;
}

.html-narrow .user-progress-novice {
  background-image:url(../images/user-progress-novice-narrow.png);
}

.html-narrow .user-progress-reader {
  background-image:url(../images/user-progress-reader-narrow.png);
}

.html-narrow .user-progress-active {
  background-image:url(../images/user-progress-active-narrow.png);
}

.html-narrow .user-progress-specialist {
  background-image:url(../images/user-progress-specialist-narrow.png);
}

.html-narrow .user-progress-expert {
  background-image:url(../images/user-progress-expert-narrow.png);
}

.html-narrow .user-progress-guru {
  background-image:url(../images/user-progress-guru-narrow.png);
}

.html-narrow .companies-catalogue-item {
	width:327px;
}

.html-narrow .companies-catalogue-item .descr {
	width:205px;
}